<p class="text-center lead text-info">
  Please input candidates below
</p>
<p class="text-center">
  What is
  <a target="_blank" href="https://en.wikipedia.org/wiki/Stable_marriage_problem">stable matching problem</a> (stable marriage problem)
</p>
<%= form_tag '/sort', class: 'form-horizontal' do %>
    <table id='entry_list' class='table table-bordered' style="width: auto; margin: 0 auto 10px;">
      <tr>
        <th>Men</th>
        <th>Women</th>
      </tr>
      <% (1..3).each do %>
          <%= render 'matchings/index/entry_list' %>
      <% end %>
    </table>
    <div class="text-center" style="margin: 0 0 10px 0;">
      <button type="button" class="btn" id="appendFormBtn">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
    <div class="text-center">
      <%= submit_tag 'submit', class: 'btn btn-info btn-lg' %>
    </div>
<% end %>

<script type="text/javascript">
  $('#appendFormBtn').click(function () {
    $('#entry_list').append("<%= j render 'matchings/index/entry_list' %>");
  });
</script>
